.App {
    
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.table{
  padding-left: 1em;
  padding-right: 1em;
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.container{
  position: relative;
    width: 50%;
    max-width: 100%;
    min-height: 480px;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.message{
  width: 75%;
}



.titulo{
  font-weight: bolder;
  color: blue;
  font-size: 32px;
  text-decoration: underline;
  text-align: center;
}

.parrafo{
  margin: 10px;
  font-size: 16px;
}

.formulario{
  margin-bottom: 15px;
}

.labels{
  font-weight: bolder;
  font-size: 16px;
  color: black;
}